<script type="text/javascript" src="http://extensions.simile.zepheira.com/map/map-extension.js?service=openlayers"></script>
<script type="text/javascript" src="http://api.simile.zepheira.com/exhibit/2.2.0/extensions/chart/scripts/scatter-plot-view.js"></script>
<script type="text/javascript" src="http://api.simile.zepheira.com/exhibit/2.2.0/extensions/time/time-extension.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://extensions.simile.zepheira.com/piechart/piechart-extension.js"></script>
